<section slide-controller="html-exercise">
  <h2>Exercise: HTML</h2>
  <iframe class="sandbox-sm" data-src="sandbox/html-by-itself.html"></iframe>
  <ul class="font-size-md margin-top-md unstyled unlock-instructions">
    <li>
      Things to try:
      <ul>
        <li>
          Change the button's <strong>content</strong> to
          <strong>Buy Now!</strong>
        </li>
        <li>
          Add an <strong>id</strong> attribute to the button with a value of
          <strong>cta-buy-now</strong>
        </li>
      </ul>
    </li>
  </ul>
</section>
