<section class="exercise" slide-controller="types-exercise">
  <h2>Exercise: Array Type</h2>
  <iframe class="margin-top-md sandbox-md width-xl" data-src="sandbox/types-exercise.html"></iframe>
  <ul class="font-size-md margin-top-md unstyled unlock-instructions width-xl">
    <li>
      To unlock:
      <ul>
        <li>
          Output the length of the <strong>toDoList</strong> variable followed
          by each item that the <strong>toDoList</strong> variable contains, in
          order
        </li>
      </ul>
    </li>
  </ul>
</section>
