<section class="exercise" slide-controller="variables">
  <h2>Exercise: Variables</h2>
  <iframe class="margin-top-md sandbox-sm width-xl" src="sandbox/variables.html"></iframe>
  <ul class="font-size-md margin-top-md unstyled unlock-instructions">
    <li>
      To unlock:
      <ul>
        <li>
          Change the <strong>index</strong> variable to the number
          <strong>2</strong>
        </li>
        <li>
          Change the <strong>myName</strong> variable to <strong>your
          name</strong>
        </li>
      </ul>
    </li>
  </ul>
</section>
