{% extends "layouts/sandbox/html-mixed.html" %}

{% block htmlContent %}
<div id="content">
  STUFF GOES IN HERE!
</div>
<button id="bg-changer">
  Red-ify!
</button>
{% endblock %}

{% block cssContent %}
.red {
  background-color: red;
}
{% endblock %}

{% block jsContent %}
var button = document.getElementById('bg-changer');
button.addEventListener('click', redifyBg);

function redifyBg () {
  var content = document.getElementById('content');
  content.setAttribute('class', 'red');
}
{% endblock %}
