{% extends "layouts/reveal.html" %}

{% block title %}
  JavaScript For Product Managers
{% endblock %}

{% block content %}
  {% include "slides/title.html" %}
  {% include "slides/in-the-beginning.html" %}
  {% include "slides/what-is-html.html" %}
  {% include "slides/what-is-css.html" %}
  {% include "slides/sometime-after-the-beginning.html" %}
  {% include "slides/variables.html" %}
  {% include "slides/operators-and-operations.html" %}
  {% include "slides/types.html" %}
  {% include "slides/conditional-statements.html" %}
  {% include "slides/loop-statements.html" %}
  {% include "slides/functions.html" %}
  {% include "slides/browsers-js-in-context.html" %}
  {% include "slides/hello-world.html" %}
  {% include "slides/css-and-html.html" %}
  {% include "slides/hello-world-jsfiddle.html" %}
  {% include "slides/the-dom.html" %}
  {% include "slides/validate-button.html" %}
  {% include "slides/dev-tools.html" %}
  {% include "slides/events.html" %}
  {% include "slides/jquery.html" %}
  {% include "slides/angular.html" %}
  {% include "slides/html-and-css-additional-resources.html" %}
  {% include "slides/javascript-additional-resources.html" %}
  {% include "slides/test.html" %}
{% endblock %}
