{% extends "layouts/reveal.html" %}

{% block title %}
  JavaScript For Product Managers
{% endblock %}

{% block content %}
  {% include "slides/title.html" %}
  {% include "slides/in-the-beginning.html" %}
  {% include "slides/what-is-css.html" %}
  {% include "slides/what-is-html.html" %}
  {% include "slides/sometime-after-the-beginning.html" %}
  {% include "slides/browsers-js-in-context.html" %}
  {% include "slides/hello-world.html" %}
  {% include "slides/css-and-html.html" %}
  {% include "slides/hello-world-jsfiddle.html" %}
  {% include "slides/test.html" %}
{% endblock %}
