{% extends "layouts/reveal.html" %}

{% block title %}
  JavaScript For Product Managers
{% endblock %}

{% block content %}
  {% include "slides/title.html" %}
  {% include "slides/in-the-beginning.html" %}
  {% include "slides/what-is-html.html" %}
  {% include "slides/what-is-css.html" %}
  {% include "slides/sometime-after-the-beginning.html" %}
  {% include "slides/the-dom.html" %}
  {% include "slides/dev-tools.html" %}
  {% include "slides/events.html" %}
  {% include "slides/variables.html" %}
  {% include "slides/types.html" %}
  {% include "exercises/licksercise.html" %}
  {% include "slides/validate-button.html" %}
  {% include "slides/conditional-statements.html" %}
  {% include "slides/operators-and-operations.html" %}
  {% include "slides/functions.html" %}
  {% include "exercises/required-fields.html" %}
  {% include "slides/jquery.html" %}
  {% include "slides/google-analytics.html" %}
  {% include "slides/html-and-css-additional-resources.html" %}
  {% include "slides/javascript-additional-resources.html" %}
  {% include "slides/the-end.html" %}
  {% include "slides/test.html" %}
{% endblock %}
