<section>
  <h3>AngularJS: An Example</h3>
  <pre><code class="html font-size-lg" data-trim>
&lt;!doctype html&gt;
&lt;html ng-app&gt;
  &lt;head&gt;
    &lt;script
      src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"
    &gt;&lt;/script&gt;
  &lt;/head&gt;
  &lt;body&gt;
    &lt;div&gt;
      &lt;label&gt;Name:&lt;/label&gt;
      &lt;input type="text" ng-model="yourName" placeholder="Enter a name here"&gt;
      &lt;hr&gt;
        &lt;h1&gt;Hello {{yourName}}!&lt;/h1&gt;
    &lt;/div&gt;
  &lt;/body&gt;
&lt;/html&gt;
  </code></pre>
</section>
<section>
  <h3>AngularJS:<br>Two-way Binding</h3>
  <iframe class="example" src="angular-hello.html"></iframe>
</section>
