<section>
  <h1>JavaScript:</h1>
  <h2>Conditional Statements</h2>
</section>
<section>
  <h2>JavaScript: Conditional Statements</h2>
  <div class="definition compact">
    <p class="term">con·di·tion·al&nbsp;&nbsp;state·ment</p>
    <div>
      <p>/kənˈdiSH(ə)n(ə)l&nbsp;&nbsp;ˈstātmənt/</p>
      <div class="content">
        <p class="family">noun</p>
        <p class="body">
          One or more coded expressions that are subject to one or more
          conditions or requirements being met; code only executed under certain
          circumstances.
        </p>
      </div>
    </div>
  </div>
</section>
<section>
  <h2>JavaScript: If...else</h2>
  <ul class="font-size-md margin-top-md unstyled">
    <li>
      <a
        href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Statements/if...else"
        target="_blank"
        title="Mozilla Developer Network - If...else"
      >
        MDN - If...else
      </a>
    </li>
    <li>
      <a
        href="https://msdn.microsoft.com/en-us/library/85yyde5c(v=vs.94).aspx"
        target="_blank"
        title="Microsoft Developer Network - If...else Statement"
      >
        MSDN - If...else Statement
      </a>
    </li>
  </ul>
</section>
<section>
  <h2>JavaScript: Conditional Statements</h2>
  <iframe class="sandbox-md" data-src="sandbox/conditional-statements.html"></iframe>
</section>
