<section>
  <h2>Web Developer Tools</h2>
</section>
<section>
  <h3>Web Developer Tools</h3>
  <ul class="font-size-md margin-top-md">
    <li>
      Set of web authoring and debugging tools built into the browser
    </li>
    <li>
      Each browser vendor rolls their own with a slightly different interface
    </li>
    <li>
      Same core features are present across the board:
      <ul>
        <li>Manipulate css on the fly</li>
        <li>Run Javascript snippets</li>
        <li>Monitor server requests and responses</li>
        <li>Interact with the DOM</li>
        <li>And more!</li>
      </ul>
    </li>
  </ul>

  <ul class="font-size-md margin-top-md unstyled">
    <li>
      <a
        href="https://developer.chrome.com/devtools"
        target="_blank"
        title="Chrome DevTools"
      >
        Chrome Deveveloper Tools
      </a>
    </li>
    <li>
      <a
        href="https://developer.apple.com/safari/tools/"
        target="_blank"
        title="Safari Web Development Tools"
      >
        Safari Web Development Tools
      </a>
    </li>
    <li>
      <a
        href="https://developer.mozilla.org/en-US/docs/Tools"
        target="_blank"
        title="Firefox DevTools"
      >
        Firefox Developer Tools
      </a>
    </li>
    <li>
      <a
        href="https://msdn.microsoft.com/en-us/library/dd565628(v=vs.85).aspx"
        target="_blank"
        title="IE DevTools"
      >
        Discovering Windows Internet Explorer Developer Tools
      </a>
    </li>
  </ul>
</section>
<section>
  <h1>Elements Panel</h1>
  <h2>Chrome Developer Tools</h2>
</section>
<section>
  <h2>Hijack a page</h2>
  <ul>
    <li>Replace logo</li>
    <li>Replace text</li>
    <li>Change colors</li>
    <li>Change positioning</li>
  </ul>
</section>
