<section>
  <h1>Browser Events</h1>
  <h2>Give life to your elements!</h2>
</section>
<section>
  <h2>Browser Events</h2>
  <ul>
    <li>Signals from the browser that something has happened</li>
    <li>Many types: 'mouseover', 'click', 'resize'</li>
    <li>Used to attach behavior to elements</li>
    <li>Help us create interactive web pages</li>
  <ul>
  <p>
    <a
      href="http://javascript.info/tutorial/introduction-browser-events"
      title="Intro to Browser Events"
    >
      Introduction to Browser Events
    </a>
  </p>
</section>
<section>
  <iframe class="margin-top-md sandbox-md width-xl" data-src="sandbox/events-demo.html">
</section>
{% include "exercises/change-background-color.html" %}
