<section>
  <h1>JavaScript:</h1>
  <h2>Functions</h2>
</section>
<section>
  <h2>JavaScript: Functions</h2>
  <div class="definition compact">
    <p class="term">func·tion</p>
    <div>
      <p>/ˈfəNG(k)SH(ə)n/</p>
      <div class="content">
        <p class="family">noun</p>
        <p class="body">
          A <i>function</i> is a code snippet that can be called by other code
          or by itself, or a variable that refers to the <i>function</i>. When a
          <i>function</i> is called, arguments are passed to the <i>function</i>
          as input, and the <i>function</i> can optionally return an output.
        </p>
      </div>
    </div>
  </div>
  <ul class="font-size-md margin-top-md unstyled">
    <li>
      <a
        href="https://developer.mozilla.org/en-US/docs/Glossary/Function"
        target"=_blank"
        title="Mozilla Developer Network - Glossary - function"
      >
        MDN Glossary - function
      </a>
    </li>
  </ul>
</section>
<section>
  <h2>JavaScript: Functions</h2>
  <ul class="font-size-md margin-top-md unstyled">
    <li>
      <a
        href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Statements/function"
        target"=_blank"
        title="Mozilla Developer Network - function statement"
      >
        MDN - function statement
      </a>
    </li>
    <li>
      <a
        href="https://msdn.microsoft.com/en-us/library/4t2k5yhw(v=vs.94).aspx"
        target"=_blank"
        title="Microsoft Developer Network - function statement"
      >
        MSDN - function statement
      </a>
    </li>
  </ul>
</section>
<section>
  <h2>JavaScript: Functions</h2>
  <iframe class="sandbox-lg" data-src="sandbox/functions.html"></iframe>
</section>
