<section>
  <img class="unstyled" alt="github" data-src="/images/octocat.png" />
</section>
<section>
  <h1 class="font-size-lg">Github</h1>
  <div class="d-flex font-size-md">
    <div class="width-md">
      Web-based hosting service for version control using git
    </diV>
    <div class="width-md">
      Developers are constantly changing code and git helps manage revisions
    </div>
    <div class="width-md">
      Provides a graphical interface with project management features
    </div>
  </div>
</section>
<section>
  <h2>Repository</h2>
  <div>Location where all the files for a particular project are stored</div>
  <br />
  <code>git clone REPO_NAME</code>
  <br />
  <img class="unstyled width-lg" alt="repo" data-src="/images/repo.gif" />
</section>
<section>
  <h2>Branch</h2>
  <div>A copy of the repo where new revisions can take place</div>
  <br />
  <code>git checkout -b BRANCH_NAME</code>
  <br />
  <img class="unstyled width-lg" alt="repo_branch" data-src="/images/branch.gif" />
</section>
<section>
  <h2>Revisions</h2>
  <div>To persist changes, we commit them to the local branch</div>
  <br />
  <code>git add FILE_NAME(S)</code>
  <br />
  <code>git commit -m "MESSAGE"</code>
  <br />
  <img class="unstyled width-lg" alt="repo_changes" data-src="/images/changes.gif" />
</section>
<section>
  <h2>Pull Request</h2>
  <div>
    Once the branch is ready, it gets pushed remotely and a pull request is opened.
    A PR is an opportunity for others to review the code
  </div>
  <code>git push -u origin BRANCH_NAME</code>
  <br />
  <img class="unstyled width-lg" alt="repo_pr" data-src="/images/pr.gif" />
</section>
<section>
  <h2>Github Projects</h2>
  <div>A lean alternative to JIRA or Trello to track work</div>
  <img class="unstyled width-lg" alt="repo_pr" data-src="/images/github-projects.png" />
</section>