<section>
  <h2>HTML &amp; CSS: Resources</h2>
  <ul class="unstyled width-xl">
    <li>
      <h4>HTML</h4>
      <div class="columns-2 font-size-md">
        <ul class="column margin-zero unstyled">
          <li>
            <a
              href="https://developer.mozilla.org/en-US/docs/Glossary/HTML"
              target="_blank"
            >
              MDN Glossary - HTML
            </a>
          </li>
          <li>
            <a
              href="https://en.wikipedia.org/wiki/HTML"
              target="_blank"
            >
              Wikipedia.org - HTML
            </a>
          </li>
          <li>
            <a
              href="https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/Introduction"
              target="_blank"
              title="Mozilla Developer Network - Introduction to HTML"
            >
              MDN - Introduction to HTML
            </a>
          </li>
        </ul>
        <ul class="column margin-zero unstyled">
          <li>
            <a
              href="https://developer.mozilla.org/en-US/Learn/HTML"
              target="_blank"
              title="Mozilla Developer Network - Learning Web Development - HTML"
            >
              MDN - HTML Tutorial
            </a>
          </li>
          <li>
            <a
              href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element"
              target="_blank"
              title="Mozilla Developer Network - HTML Element Reference"
            >
              MDN - HTML Element Reference
            </a>
          </li>
        </ul>
      </div>
    </li>
    <li class="margin-top-md">
      <h4>CSS</h4>
      <div class="columns-2 font-size-md">
        <ul class="column margin-zero unstyled">
          <li>
            <a
              href="https://developer.mozilla.org/en-US/docs/Glossary/Css"
              target="_blank"
              title="Mozilla Developer Network Glossary - CSS"
            >
              MDN Glossary - CSS
            </a>
          </li>
          <li>
            <a
              href="https://en.wikipedia.org/wiki/CSS"
              target="_blank"
              title="Wikipedia.org - CSS"
            >
              Wikipedia.org - CSS
            </a>
          </li>
          <li>
            <a
              href="https://developer.mozilla.org/en-US/docs/Web/Guide/CSS/Getting_started"
              target="_blank"
              title="Mozilla Developer Network - Getting Started With CSS"
            >
              MDN - Getting Started with CSS
            </a>
          </li>
        </ul>
        <ul class="column margin-zero unstyled">
          <li>
            <a
              href="https://developer.mozilla.org/en-US/Learn/CSS"
              target="_blank"
              title="Mozilla Developer Network - CSS: Styling the Web"
            >
              MDN - CSS Tutorial
            </a>
          </li>
          <li>
            <a
              href="https://developer.mozilla.org/en-US/docs/Web/CSS"
              target="_blank"
              title="Mozilla Developer Network - CSS Reference"
            >
              MDN - CSS Reference
            </a>
          </li>
          <li>
            <a
              href="https://developer.mozilla.org/en-US/docs/Web/CSS/Syntax"
              target="_blank"
              title="Mozilla Developer Network - CSS Syntax"
            >
              MDN - CSS Syntax
            </a>
          </li>
        </ul>
      </div>
    </li>
    <li class="margin-top-md">
      <h4>HTML &amp; CSS</h4>
      <ul class="font-size-md margin-zero unstyled">
        <li>
          <a
            href="https://www.codecademy.com/learn/learn-html"
            target="_blank"
            title="Codecademy - HTML & CSS course"
          >
            Codecademy - HTML &amp; CSS Course
          </a>
        </li>
      </ul>
    </li>
  </ul>
</section>
