<section>
  <h2>HTML &amp; CSS: Resources</h2>
  <ul class="unstyled">
    <li>
      <h4>HTML</h4>
      <ul class="font-size-md">
        <li>
          <a
            href="https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/Introduction"
            target="_blank"
            title="Mozilla Developer Network - Introduction to HTML"
          >
            MDN - Introduction to HTML
          </a>
        </li>
        <li>
          <a
            href="https://developer.mozilla.org/en-US/Learn/HTML"
            target="_blank"
            title="Mozilla Developer Network - Learning Web Development - HTML"
          >
            MDN - HTML Tutorial
          </a>
        </li>
        <li>
          <a
            href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element"
            target="_blank"
            title="Mozilla Developer Network - HTML Element Reference"
          >
            MDN - HTML Element Reference
          </a>
        </li>
      </ul>
    </li>
    <li class="margin-top-md">
      <h4>CSS</h4>
      <ul class="font-size-md">
        <li>
          <a
            href="https://developer.mozilla.org/en-US/docs/Web/Guide/CSS/Getting_started"
            target="_blank"
            title="Mozilla Developer Network - Getting Started With CSS"
          >
            MDN - Getting Started with CSS
          </a>
        </li>
        <li>
          <a
            href="https://developer.mozilla.org/en-US/Learn/CSS"
            target="_blank"
            title="Mozilla Developer Network - CSS: Styling the Web"
          >
            MDN - CSS Tutorial
          </a>
        </li>
        <li>
          <a
            href="https://developer.mozilla.org/en-US/docs/Web/CSS"
            target="_blank"
            title="Mozilla Developer Network - CSS Reference"
          >
            MDN - CSS Reference
          </a>
        </li>
      </ul>
    </li>
    <li class="margin-top-md">
      <h4>HTML &amp; CSS</h4>
      <ul class="font-size-md">
        <li>
          <a
            href="https://www.codecademy.com/learn/web"
            target="_blank"
            title="Codecademy - HTML & CSS course"
          >
            Codecademy - HTML &amp; CSS Course
          </a>
        </li>
      </ul>
    </li>
  </ul>
</section>
