<section>
  <h2>JavaScript: Resources</h2>
  <ul class="font-size-md margin-top-md unstyled">
    <li>
      <a
        href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Guide"
        target="_blank"
        title="Mozilla Developer Network - JavaScript Guide"
      >
        MDN - JavaScript Guide
      </a>
    </li>
    <li>
      <a
        href="https://developer.mozilla.org/en-US/docs/Learn/Getting_started_with_the_web/JavaScript_basics"
        target="_blank"
        title="Mozilla Developer Network - JavaScript Basics"
      >
        MDN - JavaScript Basics
      </a>
    </li>
    <li>
      <a
        href="https://www.codecademy.com/learn/introduction-to-javascript"
        target="_blank"
        title="Codecademy.com - Introduction to JavaScript"
      >
        Codecademy Introduction to JavaScript Course
      </a>
    </li>
  </ul>
</section>
