<section>
  <h2>JavaScript: Resources</h2>
  <ul class="font-size-md margin-top-md unstyled">
    <li>
      <a
        href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Guide"
        target="_blank"
        title="Mozilla Developer Network - JavaScript Guide"
      >
        MDN - JavaScript Guide
      </a>
    </li>
    <li>
      <a
        href="https://msdn.microsoft.com/en-us/library/6974wx4d(v=vs.94).aspx"
        target="_blank"
        title="Microsoft Developer Network - JavaScript Fundamentals"
      >
        MSDN - JavaScript Fundamentals
      </a>
    </li>
    <li>
      <a
        href="https://www.codecademy.com/learn/javascript"
        target="_blank"
        title="Codecademy.com - JavaScript"
      >
        Codecademy JavaScript Course
      </a>
    </li>
  </ul>
</section>
