<section>
  <h1>JavaScript:</h1>
  <h2>Loop Statements</h2>
</section>
<section>
  <h2>JavaScript: Loop Statement</h2>
  <div class="definition compact">
    <p class="term">loop&nbsp;state·ment</p>
    <div>
      <p>/lo͞op&nbsp;ˈstātmənt/</p>
      <div class="content">
        <p class="family">noun</p>
        <p class="body">
          One or more coded expressions that are executed one or more times
          depending on the outcome of a given conditional statement.
        </p>
      </div>
    </div>
  </div>
</section>
<section>
  <h2>JavaScript: While Loop</h2>
  <ul class="font-size-md margin-top-md unstyled">
    <li>
      <a
        href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Statements/while"
        target="_blank"
        title="Mozilla Developer Network - While statement"
      >
        MDN - While statement
      </a>
    </li>
  </ul>
</section>
<section>
  <h2>JavaScript: For Loop</h2>
  <ul class="font-size-md margin-top-md unstyled">
    <li>
      <a
        href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Statements/for"
        target="_blank"
        title="Mozilla Developer Network - For statement"
      >
        MDN - For statement
      </a>
    </li>
  </ul>
</section>
<section>
  <h2>JavaScript: Loop Statements</h2>
  <iframe class="sandbox-lg" data-src="sandbox/loop-statements.html"></iframe>
</section>
