<section>
  <h1>JavaScript:</h1>
  <h2>Operators and Operations</h2>
</section>
<section>
  <h2>JavaScript: Operators</h2>
  <div class="definition compact">
    <p class="term">op·er·a·tor</p>
    <div>
      <p>/ˈäpəˌrādər/</p>
      <div class="content">
        <p class="family">noun</p>
        <p class="body">
          Reserved syntax consisting of punctuation or alphanumeric characters
          and carrying out built-in functionality. For example,
          <strong>+</strong> indicates the addition <i>operator</i> and
          <strong>!</strong> indicates the "not" <i>operator</i>.
        </p>
      </div>
    </div>
  </div>
  <ul class="unstyled margin-top-md font-size-md">
    <li>
      <a
        href="https://developer.mozilla.org/en-US/docs/Glossary/Operator"
        target="_blank"
      >MDN Glossary - Operator</a>
    </li>
    <li>
      <a
        href="https://msdn.microsoft.com/en-us/library/6hsc0eak(v=vs.94).aspx"
        target="_blank"
      >
        MSDN - Operators in JavaScript
      </a>
    </li>
  </ul>
</section>
<section>
  <h2>JavaScript: Operators</h2>
  <iframe class="sandbox-lg" src="sandbox/operators-and-operations.html"></iframe>
</section>
