<section>
  <h1>Sometime after the beginning</h1>
</section>
<section>
  <h2>More specifically...</h2>
  <img class="margin-top-md unstyled width-xxl" src="/images/web-technologies-timeline.png">
</section>
<section>
  <h1>There was<br>JavaScript</h1>
</section>
<section>
  <h2>JavaScript</h2>
  <ul class="width-xl">
    <li>Makes the staic web more dynamic and interactive</li>
    <li>
      Initially developed in 10 days in 1995 by <a
        href="https://en.wikipedia.org/wiki/Brendan_Eich"
        target="_blank"
        title="Wikipedia.org - Brendan Eich"
      >Brendan Eich</a> at Netscape
    </li>
    <li>
      Little to no relation to Java
      <ul>
        <li>
          The confusing name was a marketing ploy by Netscape to give their
          new language more cachet
        </li>
      </ul>
    </li>
    <li>Standardized under the name <a
        class="help"
        href="http://www.ecmascript.org/"
        target="_blank"
        title="European Computer Manufacturers Association (ECMA) Script"
      >ECMAScript</a>
    </li>
    <li>
      Supported in all major browsers without plugins
    </li>
  </ul>
  <ul class="font-size-md margin-top-md unstyled">
    <li>
      <a
        href="https://en.wikipedia.org/wiki/JavaScript"
        target="_blank"
        title="Wikipedia.org - JavaScript"
      >
        Wikipedia - JavaScript
      </a>
    </li>
    <li>
      <a
        href="ttps://developer.mozilla.org/en-US/docs/Glossary/JavaScript"
        target="_blank"
        title="Mozilla Developer Network - JavaScript"
      >
        MDN - JavaScript
      </a>
    </li>
  </ul>
</section>
