<section>
  <h1>Sometime after the beginning</h1>
  <h2 class="fragment">there was</h2>
  <h1 class="fragment">JavaScript</h1>
</section>
<section>
  <h2>JavaScript</h2>
  <ul>
    <li>Makes the staic web more dynamic and interactive</li>
    <li>
      Initially developed in 10 days in 1995 by <a
        href="https://en.wikipedia.org/wiki/Brendan_Eich"
        target="_blank"
      >Brendan Eich</a> at Netscape
    </li>
    <li>
      Very little relation to Java
      <ul>
        <li>
          The confusing name was a marketing ploy by Netscape to give their
          new language more cachet
        </li>
      </ul>
    </li>
    <li>Standardized under the name <a
        class="help"
        title="European Computer Manufacturers Association (ECMA) Script"
        href="http://www.ecmascript.org/"
        target="_blank"
      >ECMAScript</a>
    </li>
    <li>
      Supported in all major browsers without plugins
    </li>
  </ul>
  <ul class="font-size-md margin-top-md unstyled">
    <li>
      <a
        href="https://en.wikipedia.org/wiki/JavaScript"
        target="_blank"
      >
        Wikipedia - JavaScript
      </a>
    </li>
    <li>
      <a
        href="ttps://developer.mozilla.org/en-US/docs/Glossary/JavaScript"
        target="_blank"
      >
        MDN - JavaScript
      </a>
    </li>
  </ul>
</section>
