<section>
    <h1 class="font-size-xl">Additional Tools</h1>
</section>
<section>
    <h1 class="font-size-xl">
      <b>S</b>tructured <b>Q</b>uery <b>L</b>anguage
    </h1>
</section>
<section>
  <h1 class="font-size-xl">
    A Brief History</h1>
  <div class="d-flex">
    <div class="width-md">
      <h2 class="font-size-lg">1970 👨‍💼</h2>
      <div class="font-size-md">
        E.F. Codd publishes paper outlining a model
        for storing and manipulating data using tables.
      </div>
    </div>
    <div class="width-md">
      <h2 class="font-size-lg">'79-'82 🚀</h2>
      <div class="font-size-md">
        Oracle, Relational Technology, Inc. and IBM
        put out commercial relational databases
      </div>
    </div>
    <div class="width-md">
      <h2 class="font-size-lg">1986 ✅</h2>
      <div class="font-size-md">
        American National Standards Institute (ANSI) standardizes SQL.
      </div>
    </div>
  </div>
</section>

<section>
  <h1 class="font-size-lg">SQL</h1>
  <div>
    Programming language designed for managing data held in a
    relational database management system.
  </div>
</section>

<section>
  <h1 class="font-size-lg">Relational Database</h1>
  <p class="font-size-md">
    A set of tables used for storing data. Each table has a unique
    name and may relate to one or more other tables in the database
    through common values.
  </p>
  <img alt="" class="unstyled width-lg" data-src="/images/spreadsheet-gui.jpg"/>
</section>

<section>
  <div>A <b>table</b> in a database is a collection of rows and columns.</div>
  <div>A <b>row</b> contains data pertaining to a single item or record in a table.</div>
  <div>A <b>column</b> contains data representing a specific characteristic of the records in the table.</div>
  <img alt="table-sample" class="unstyled width-lg" data-src="/images/table-sample.png">
</section>

<section>
    <h1 class="font-size-lg">
      <b>R</b>elational <b>D</b>ata<b>b</b>ase <b>M</b>anagement <b>S</b>ystem
    </h1>
    <p class="font-size-md">
      Software for creating, manipulating, and administering a database.
    </p>
  </section>

<section>
  <h1 class="font-size-lg">Popular Open Source RDBMS</h1>
  <div class="d-flex">
    <div class="width-lg">
      <h2 class="font-size-lg">mySQL 🛠</h2>
      <ul class="font-size-md">
        <li>Popular for its rich features, relative ease of use and community support</li>
        <li>Has built-in security features, is scalable and speedy</li>
        <li>Used by a great majority of web-apps</li>
      </ul>
    </div>
    <div class="width-lg">
      <h2 class="font-size-lg">PostgreSQL 🏦</h2>
      <ul class="font-size-md">
        <li><em>Advanced</em> RDBMS</li>
        <li>Differentiated by its compliance to ANSI standards, its extensibility and reliability</li>
        <li>Used when data integrity is necessary without excuses or complex, custom procedures must be written</li>
      </ul>
    </div>
  </div>
</section>
</section>
