<section>
  <h1>The DOM</h1>
  <h2>Document Object Model</h2>
</section>
<section>
  <h3>The Document Object Model</h3>
  <ul>
    <li>
      Bridges the gap between JavaScript and the world of HTML and CSS
    </li>
    <li>
      API for interacting with the browser's representation of an HTML document
    </li>
    <li>
      Provides full control over the HTML document, enabling the dynamic web
    </li>
  </ul>
</section>
<section>
  <h3>The Document Object Model</h3>
  <p class="margin-top-lg">Allows JavaScript code to:</p>
  <ul>
    <li>
      Create, interact with, and remove elements
    </li>
    <li>
      Change CSS styles
    </li>
    <li>
      Generate and listen for new and existing events
    </li>
  </ul>
  <ul class="font-size-md margin-top-md unstyled">
    <li>
      <a
        href="https://developer.mozilla.org/en-US/docs/Glossary/DOM"
        target="_blank"
        title=""
      >
        MDN Glossary - DOM
      </a>
    </li>
    <li>
      <a
        href="https://en.wikipedia.org/wiki/Document_Object_Model"
        target="_blank"
        title="Wikipedia.org - Document Object Model"
      >
        Wikipedia - Document Object Model
      </a>
    </li>
  </ul>
</section>
