<section>
  <h2>JavaScript: Data Types</h2>
<pre class="margin-top-lg width-xl"><code class="javascript font-size-lg" data-trim>
button = document.getElementById('bg-changer');
button.addEventListener('click', redifyBackground);

function redifyBackground () {
  content = document.getElementById('content');
  content.setAttribute('class', 'red');
}
</code></pre>

</section>
<section>
  <h2>JavaScript: Types</h2>
  <div class="definition compact">
    <p class="term">type</p>
    <div>
      <p>/tīp/</p>
      <div class="content">
        <p class="family">noun</p>
        <p class="body">
          <i>Type</i> is a characteristic of a value affecting which operations
          on that value are valid. For example, an integer can be multiplied by
          an integer, but not by a string.
        </p>
      </div>
    </div>
  </div>
  <ul class="unstyled margin-top-md font-size-md">
    <li>
      <a href="https://developer.mozilla.org/en-US/docs/Glossary/Type">MDN Glossary - Type</a>
    </li>
    <li>
      <a
        href="https://msdn.microsoft.com/en-us/library/7wkd9z69(v=vs.94).aspx"
        target="_blank"
      >
        MSDN - Data Types in JavaScript
      </a>
    </li>
  </ul>
</section>
<section>
  <h2>JavaScript: Data Types</h2>
  <ul>
    <li>
      Programming languages all have built-in data structures, but these often
      differ from one language to another
    </li>
    <li>
      The latest ECMAScript standard defines seven data types
      <ul>
        <li>
          Six data types that are primitives:
          <ul>
            <li>
              <a
                class="help"
                href="https://developer.mozilla.org/en-US/docs/Glossary/Boolean"
                target="_blank"
                title="In computer science, a boolean is a logical data type that can have only the values true or false."
              >
                Boolean
              </a>
            </li>
            <li>
              <a
                class="help"
                href="https://developer.mozilla.org/en-US/docs/Glossary/Null"
                target="_blank"
                title="In computer science, a null value represents a reference that points, generally intentionally, to a nonexistent or invalid object or address."
              >
                Null
              </a>
            </li>
            <li>
              <a
                class="help"
                href="https://developer.mozilla.org/en-US/docs/Glossary/Number"
                target="_blank"
                title="In JavaScript, there is no distinction between integer and floating-point values; a JavaScript number can be either (internally, JavaScript represents all numbers as floating-point values). Integer values can be positive whole numbers, negative whole numbers, and 0. Floating-point values can be whole numbers with a decimal portion."
              >
                Number
              </a>
            </li>
            <li>
              <a
                class="help"
                href="https://developer.mozilla.org/en-US/docs/Glossary/String"
                target="_blank"
                title="In any computer programming language, a string is a sequence of characters used to represent text."
              >
                String
              </a>
            </li>
            <li>
              <a
                class="help"
                href="https://developer.mozilla.org/en-US/docs/Glossary/Symbol"
                target="_blank"
                title="A Symbol is a primitive data type whose instances are unique and immutable."
              >
                Symbol (new in ECMAScript 6)
              </a>
            </li>
            <li>
              <a
                class="help"
                href="https://developer.mozilla.org/en-US/docs/Glossary/Undefined"
                target="_blank"
                title="A primitive value automatically assigned to variables that have just been declared or to formal arguments for which there are no actual arguments."
              >
                Undefined
             </a>
            </li>
          </ul>
          <li>
            and <a
              class="help"
              href="https://developer.mozilla.org/en-US/docs/Glossary/Object"
              target="_blank"
              title="Object refers to a data structure containing data and instructions for working with the data"
            >
              Object
            </a>
          </li>
        </li>
      </ul>
    </li>
  </ul>
</section>
<section>
  <h2>JavaScript: Data Types</h2>
  <iframe class="sandbox-md" data-src="sandbox/types.html"></iframe>
</section>
{% include "exercises/types.html" %}
