<section>
  <h1>JavaScript:</h1>
  <h2>Variables</h2>
</section>
<section>
  <h2>JavaScript: Variables</h2>
  <div class="definition compact">
    <p class="term">var·i·a·ble</p>
    <div>
      <p>/ˈverēəb(ə)l/</p>
      <div class="content">
        <p class="family">noun</p>
        <p class="body">
          A <i>variable</i> is a named location for storing a value. This allows
          an unpredictable value can be accessed through a predetermined name.
        </p>
      </div>
    </div>
  </div>
  <ul class="unstyled margin-top-md font-size-md">
    <li>
      <a
        href="https://developer.mozilla.org/en-US/docs/Glossary/Variable"
        target="_blank"
      >
        MDN Glossary - Variable
      </a>
    </li>
    <li>
      <a
        href="https://msdn.microsoft.com/en-us/library/67defydd(v=vs.94).aspx"
        target="_blank"
      >
        MSDN - Variables in JavaScript
      </a>
    </li>
  </ul>
</section>
<section class="exercise" slide-controller="variables">
  <h2>Exercise: Variables</h2>
  <iframe class="margin-top-md sandbox-sm width-xl" src="sandbox/variables.html"></iframe>
  <ul class="font-size-md margin-top-md unstyled unlock-instructions">
    <li>
      To unlock:
      <ul>
        <li>
          Change the <strong>index</strong> variable to the number
          <strong>2</strong>
        </li>
        <li>
          Change the <strong>myName</strong> variable to <strong>your
          name</strong>
        </li>
      </ul>
    </li>
  </ul>
</section>
