<section>
  <h1>JavaScript:</h1>
  <h2>Variables</h2>
  <div class="anatomy-of-a-variable-cropped">
    <img class="unstyled width-xl" data-src="/images/anatomy-of-a-variable.png">
  </div>
</section>
<section>
  <h2>JavaScript: Variables</h2>
  <div class="definition compact">
    <p class="term">var·i·a·ble</p>
    <div>
      <p>/ˈverēəb(ə)l/</p>
      <div class="content">
        <p class="family">noun</p>
        <p class="body">
          A <i>variable</i> is a named location for storing a value. This allows
          an unpredictable value can be accessed through a predetermined name.
        </p>
      </div>
    </div>
  </div>
  <ul class="unstyled margin-top-md font-size-md">
    <li>
      <a
        href="https://developer.mozilla.org/en-US/docs/Glossary/Variable"
        target="_blank"
      >
        MDN Glossary - Variable
      </a>
    </li>
    <li>
      <a
        href="https://msdn.microsoft.com/en-us/library/67defydd(v=vs.94).aspx"
        target="_blank"
      >
        MSDN - Variables in JavaScript
      </a>
    </li>
  </ul>
</section>
<section>
  <h2>JavaScript: Variable Assignment</h2>
  <iframe class="margin-top-md sandbox-md width-xl"
    data-src="sandbox/variable-assignment.html">
  </iframe>
  <div>
    A <i>variable</i> is assigned a value using the assignment operator,<br>a
    single equals sign (<strong>=</strong>)
  </div>
</section>
<section>
  <h2>JavaScript: Assignment</h2>
  <h3>under the hood</h3>
  <img class="unstyled width-lg" data-src="/images/anatomy-of-a-variable.png">
</section>
{% include "exercises/variables.html" %}
