<section>
  <h1>HTML</h1>
  <h2 class="fragment">Hyper Text Markup Language</h2>
</section>
<section>
  <h2>HTML</h2>
  <ul>
    <li>
      Standard markup language used to create web pages
    </li>
    <li>
      Describes the structure of a website semantically along with cues for
      presentation
    </li>
    <li>
      Web browsers transform HTML documents into visible or audible web pages
    </li>
  </ul>
  <div class="margin-top-md font-size-sm">
    <p>More information:</p>
    <ul class="unstyled">
      <li>
        <a href="https://en.wikipedia.org/wiki/HTML" target="_blank">Wikipedia.org - HTML</a>
      </li>
    </ul>
  </div>
</section>
<section>
  <h2>HTML</h2>
  <ul>
    <li>
      Written in the form of HTML elements which consist of tags enclosed in
      angle brackets (like &lt;article&gt;)
    </li>
    <li>
      Browsers don't display HTML tags, but use them to interpret the content of
      the document
    </li>
  </ul>
</section>
<section>
  <h2>A simple HTML document</h2>
  <div>
    <pre><code class="html font-size-lg" data-trim>
&lt;html&gt;
  &lt;!--
    The &lt;html&gt; element holds the two main components of an HTML document,
    the &lt;head&gt; element and the &lt;body&gt; element.
  --&gt;
  &lt;head&gt;
    &lt;!--
      The &lt;head&gt; element usually includes metadata about the document such
      as title, styling, and other resources required by the document.
    --&gt;
    &lt;title&gt;Hello, World!&lt;/title&gt;
  &lt;/head&gt;
  &lt;body&gt;
    &lt;!-- The &lt;body&gt; element holds the content of the document. --&gt;
    &lt;div&gt;Hello, World!&lt;/div&gt;
  &lt;/body&gt;
&lt;/html&gt;
    </code></pre>
  </div>
</section>
<section>
  <h2>The same simple HTML document, rendered</h2>
  <div class="margin-top-md">
    <iframe src="html-by-itself.html"></iframe>
  </div>
  <p class="fragment font-size-md margin-top-md">
    Not so sexy...<br>Something's missing
  </p>
</section>
