<section>
  <h1>CSS</h1>
  <h2>Cascading Style Sheets</h2>
  <img class="width-md unstyled" src="/images/css-venn-diagram.png">
</section>
<section>
  <h2>CSS</h2>
  <ul class="width-lg">
    <li>Describes how an HTML document should display visually</li>
    <li>
      <strong>Cascading</strong> describes how rules from one style sheet can override
      previously defined rules
    </li>
    <li>
      Browsers use the order in which style sheets are included in the document
      and special
      <a
        href="https://en.wikipedia.org/wiki/Cascading_Style_Sheets#Specificity"
        target="_blank"
        title="Wikipedia.org - CSS Specificity"
      >
      selector specificity rules
      </a> to determine which styles should be displayed
    </li>
  </ul>
  <img class="width-md unstyled vertical-align-top" src="/images/css-venn-diagram.png">
</section>
<section>
  <h2>CSS</h2>
  <ul class="width-lg">
    <li>
      Style sheets are composed of
      <a
        href="https://developer.mozilla.org/en-US/docs/Web/CSS/Syntax#CSS_rulesets"
        target="_blank"
        title="Mozilla Developer Network - CSS Syntax - CSS Rulesets"
      >
        rules
      </a>. Each rule (or ruleset) is composed of one or more selectors and a
      block of property declarations.
    </li>
    <li>
      <a
        href="https://en.wikipedia.org/wiki/Cascading_Style_Sheets#Selector"
        target="_blank"
        title="Wikipedia.org - CSS Selectors"
      >
        Selectors
      </a> declare which part of the document a style applies to by
      matching tags and attributes in the document
    </li>
    <li>
      < a
        href="https://en.wikipedia.org/wiki/Cascading_Style_Sheets#Declaration_block"
        target="_blank"
        title="Wikipedia.org - CSS Declaration Block"
      >
        Properties
      </a> describe which aspects of an element should be styled and
      how
    </li>
  </ul>
  <img class="vertical-align-top unstyled width-md" src="/images/anatomy-of-a-css-rule.png">
</section>
<section>
  <h2>A sample style sheet</h2>
  <div>
    <pre><code class="css font-size-lg" data-trim>
/*
  This selector targets any element that has a class of "call-to-action" to
  change the elements background color to red.
*/
.call-to-action {
  background-color: red; /* Make the background of the button red */
  border: 0;             /* with no border */
  border-radius: 4px;    /* with rounded corners */
  box-shadow: 5px 5px rgba(0, 0, 0, .2);
                         /* ^ with a faint shadow */
  color: white;          /* with white text */
  cursor: pointer;       /* with a pointer-finger mouse cursor */
  font-size: 2em;        /* with text twice the normal size */
  height: 100%;          /* with a height 100% the height of its parent */
  width: 20%;            /* with a width 20% the width of its parent */
}
    </code></pre>
  </div>
</section>
<section>
  <h2>HTML + CSS:</h2>
  <div class="margin-top-md">
    <iframe class="sandbox-lg" src="sandbox/html-with-css.html"></iframe>
  </div>
  <h4>Basic styling</h4>
</section>
<section>
  <h2>HTML + CSS:</h2>
  <div class="margin-top-md">
    <iframe class="sandbox-lg" src="sandbox/html-revealed.html"></iframe>
  </div>
  <h4>HTML revealed</h4>
</section>
