<section>
  <h1>CSS</h1>
  <h2 class="fragment">Cascading Style Sheets</h2>
</section>
<section>
  <h2>CSS</h2>
  <ul>
    <li>Describes how the HTML document should display visually</li>
    <li>"Cascading" describes how one stylesheet can override another</li>
    <ul>
      <li>
        In most situations, the last stylesheet to define a style wins out over
        any previously defined styles
      </li>
    </ul>
    <li>CSS selectors target which elements to add styles to</li>
    <li>
      CSS properties describe what aspects of the element should be styled and
      how
    </li>
  </ul>
  <ul class="font-size-md margin-top-md unstyled">
    <li>
      <a
        href="https://developer.mozilla.org/en-US/docs/Glossary/Css"
        target="_blank"
      >
        MDN - CSS
      </a>
    </li>
  </ul>
</section>
<section>
  <h2>A sample stylesheet</h2>
  <div>
    <pre><code class="css font-size-lg" data-trim>
/*
  This selector targets any element that has a class of "call-to-action" to
  change the elements background color to red.
*/
.call-to-action {
  background-color: red; /* Make the background of the button red */
  border: 0;             /* with no border */
  border-radius: 4px;    /* with rounded corners */
  box-shadow: 5px 5px rgba(0, 0, 0, .2);
                         /* ^ with a faint shadow */
  color: white;          /* with white text */
  cursor: pointer;       /* with a pointer-finger mouse cursor */
  font-size: 2em;        /* with text twice the normal size */
  height: 100%;          /* with a height 100% the height of its parent */
  width: 100%;           /* with a width 100% the width of its parent */
}
    </code></pre>
  </div>
</section>
<section>
  <h2>HTML + CSS</h2>
  <div class="margin-top-md">
    <iframe class="sandbox-lg" src="html-with-css.html"></iframe>
  </div>
</section>
