<section>
  <h1>HTML</h1>
  <h2 class="fragment">Hyper Text Markup Language</h2>
</section>
<section>
  <h2>HTML</h2>
  <ul class="width-xl">
    <li>
      Standard
      <a
        class="help"
        href="https://en.wikipedia.org/wiki/Markup_language"
        target="_blank"
        title="A markup language is a system for annotating a document in a way that is syntactically distinguishable from the text. The terminology stems from the "marking up" of paper manuscripts, i.e., the revision instructions by editors, traditionally written with a blue pencil on authors' manuscripts."
      >
        markup language
      </a>
      used to create web pages
    </li>
    <li>
      Describes the structure of a website, including cues for presentation
    </li>
    <li>
      Web browsers transform HTML documents into visible (or audible!) web pages
    </li>
  </ul>
</section>
<section>
  <h2>HTML</h2>
  <ul class="width-xl">
    <li>
      Written in the form of
      <a
        href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element"
        target="_blank"
        title="Mozilla Developer Network - HTML Element Reference"
      >
        HTML elements
      </a> which consist of special tags enclosed in angle brackets
      <p class="margin-top-sm text-align-center">
        <img class="unstyled" data-src="images/anatomy-of-an-html-tag.png">
      </p>
    </li>
    <li>
      Elements can include data other than their enclosed content in the form of
      attributes and values
    </li>
    <li>
      Browsers don't display HTML tags, but use them to interpret the content of
      the document
    </li>
  </ul>
</section>
<section>
  <h2>A short, but complete<br>HTML document</h2>
  <pre><code class="html font-size-lg" data-trim>
{% filter safe %}{% filter escape %}
<!DOCTYPE html>
<html>
  <head>
    <title>Hello, World!</title>
  </head>
  <body>
    <button class="call-to-action">Click Me</button>
  </body>
</html>
{% endfilter %}{% endfilter %}
  </code></pre>
</section>
<section>
  <pre><code class="html font-size-lg" data-trim>
{% filter safe %}{% filter escape %}
<!-- The DOCTYPE declaration identifies what type of document is represented -->
<!DOCTYPE html>

<!--
  The <html> element is the root of an HTML document. It holds the two main
  components of an HTML document, the <head> element and the <body> element.
-->
<html>
  <!--
    The <head> element usually includes metadata about the document such
    as title, styling, and other resources required by the document.
  -->
  <head>
    <title>Hello, World!</title>
  </head>

  <!-- The <body> element holds the content of the document. -->
  <body>
    <!-- The <button> element represents a clickable button. -->
    <button class="call-to-action">Click Me</button>
  </body>
</html>
{% endfilter %}{% endfilter %}
  </code></pre>
</section>
<section>
  <h2>HTML: Keep it simple, sailor</h2>
  <img class="unstyled" data-src="/images/html-body-element.png">
  <div class="margin-auto width-xl">
    In the examples that follow, you can skip the rest of the HTML document and
    assume we're working within the <code>&lt;body&gt;</code> element of an HTML document
  </div>
</section>
<section>
  <h2>HTML, rendered</h2>
  <div class="margin-top-md">
    <iframe class="sandbox-md" data-src="sandbox/html-by-itself.html"></iframe>
  </div>
</section>
{% include "exercises/html.html" %}
