.sandbox {
  background-color: #fff;
  font-size: 1.75em;
  height: 100%;
  width: 100%;
}

.sandbox .row {
  overflow: hidden;
  height: 50%;
  width: 100%;
}

.sandbox .row .cell {
  float: left;
  height: 100%;
  margin-left: 1%;
  margin-right: 1%;
  width: 49%;
}

.sandbox .row .cell .CodeMirror {
  height: 100%;
}

.sandbox .row .cell:first-child {
  margin-left: 0;
}

.sandbox .row .cell:last-child {
  margin-right: 0;
}

.sandbox .row .cell:first-child:last-child {
  width: 100%;
}

.sandbox .row .cell .toolbar .action button {
  font-size: 1em;
  padding: .1em;
}

.sandbox .row .cell.result {
  background-color: #f7f7f7;
}

.sandbox .row .cell .toolbar {
  background-color: #f7f7f7;
  display: block;
  height: 1.5em;
  list-style: none;
  margin: 0 0 -1.5em;
  padding: 0;
  position: relative;
  width: 100%;
}

.sandbox .row .cell .output {
  height: 100%;
  margin-bottom: -1.75em;
  padding-top: 1.75em;
}
