.button-example {
  font-size: 1.5em;
}

.controls-lock {
  background-image: url(/images/lock.png);
  bottom: 10px;
  height: 110px;
  opacity: .7;
  position: fixed;
  right: 10px;
  -webkit-transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -ms-transition: opacity .5s ease-in-out;
  -o-transition: opacity .5s ease-in-out;
  transition: opacity .5s ease-in-out;
  width: 110px;
  z-index: 29;
}

.controls-lock.hidden {
  opacity: 0;
}

.text-example {
  font-size: 1.5em;
}

.reveal pre code {
  max-height: 100%;
}

.reveal .font-size-xl {
  font-size: 150%;
}

.reveal .font-size-lg {
  font-size: 125%;
}

.reveal .font-size-md {
  font-size: 80%;
}

.reveal .font-size-sm {
  font-size: 60%;
}

.reveal .margin-top-md {
  margin-top: 1em;
}

.reveal iframe.example {
  background-color: #fff;
  border: 1px solid #000;
  padding: 10px;
}

.reveal img.unstyled {
  border: 0;
}

.reveal ul.unstyled {
  list-style-type: none;
}
