<!doctype html>
<html>
  <head>
    <script src="/js/sandbox.js"></script>
    <link href="/css/sandbox.css" rel="stylesheet">
  </head>
  <body>
    <div class="sandbox single-language">
      <div class="row">
        <pre class="cell codemirror" data-line-numbers data-mode="javascript">
{%- block jsContent -%}{%- endblock -%}
        </pre>
      </div>
      <div class="row">
        <pre class="cell result">
{%- block resultContent -%}{%- endblock -%}
        </pre>
      </div>
    </div>
  </body>
</html>
